body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  color: #fff;
}
nav {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #000;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  padding: 10px;
  cursor: pointer;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 100px;
}

#html {
  background-color: #f3671c;
}
#css {
  background-color: #0071ba;
}
#js {
  background-color: #e7a307;
}
#on {
  position: absolute;
  opacity: 0;
}
a {
  display: block;
  width: 100px;
  text-decoration: none;
  color: inherit;
}
