{% extends "layout.html" %}

{% block sub_content %}
  {% if my_blogs %}
    <table cellpadding="5" >
    {% for my_blog in my_blogs %}
      <tr>
        <td style="padding:0 15px;"> <h3> <a href="/blogs/{{ my_blog['blog_id'] }}">{{my_blog['title']}} </a> </h3></td>
        <td style="padding:0 15px;"> <a href="/edit-blog/{{ my_blog['blog_id'] }}" class="btn btn-primary">Edit</a></td>
        <td style="padding:0 15px;"> <a href="/delete-blog/{{ my_blog['blog_id'] }}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h3>No blogs have been written by you</h3>
  {% endif %}
{% endblock %}
